{% extends 'content_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('admin_article_form') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css"
          integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g="
          crossorigin="anonymous"/>
{% endblock %}

{% block content_body %}
    <h1>Edit the Article! 🍁</h1>

    <div class="row">
        <div class="col-sm-8">
            <h2>Article</h2>
            {{ include('article_admin/_form.html.twig', {
                button_text: 'Update!'
            }) }}
        </div>
        <div class="col-sm-4">
            <ul class="list-group small js-reference-list"
                data-url="{{ path('admin_article_list_references', {id: article.id}) }}"></ul>
            <hr>
            <h3>add a reference to article</h3>

            <form method="post"
                  enctype="multipart/form-data"
                  class="dropzone js-reference-dropzone"
                  action="{{ path('admin_article_add_reference', {'id': article.id}) }}">
            </form>
        </div>
    </div>

{% endblock %}
